@import 'welcome.css';
#dash-columns-container {
    display: flex;
    flex-direction: row;
}
#chat-message-div {
        border: 2px solid black;
        padding: 5px;
        /* font: 24px/36px sans-serif; */
        width: 200px;
        height: 200px;
        overflow: scroll;
        position: relative;
        bottom: 0;
}